<head>
    <meta name="viewport">
    <link href="../static/bootstrap.min.css" rel="stylesheet">
</head>

<div class="form-popup" id="myForm">
  <!-- Information submitted to the form will be sent to the file in the action attribute
    <form action="/action_page.php" class="form-container"> -->
    <h3>Pas hier het leerdoel aan</h3>

   <!-- <input type="text" placeholder="Nieuw leerdoel" name="leerdoel-id" required> -->
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">1 onthouden</a></li>
            <li><a class="dropdown-item" href="#">2 begrijpen</a></li>
            <li><a class="dropdown-item" href="#">3 toepassen</a></li>
            <li><a class="dropdown-item" href="#">4 analyseren</a></li>
            <li><a class="dropdown-item" href="#">5 evalueren</a></li>
            <li><a class="dropdown-item" href="#">6 cre&euml;ren</a></li>
            <li><a class="dropdown-item" href="#">7 reproductie</a></li>
        </ul>
    </div>
    <button type="submit" class="btn">Opslaan</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Annuleren</button>
</div>

<script src="../static/bootstrap.bundle.min.js"></script>
