<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Database displayer</title>
    <meta name="description" content="Simple database display"/>
    <meta name="author" content="Rotterdam Academy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/basic.css" type="text/css">

</head>
<body>
{% include "/Navbar.html" %}


<main>



    <p>Alle rijen in de tabel <b>vragen</b> met ongeldige en ontbrekende leerdoelen:</p>

<div class="container">
    <table>
        <thead>
        <tr>
            {% for column in columns %}
            <th>{{ column }}</th>
            {% endfor %}
            <!-- Figure out if it is allowed to use labels as table headers -->
            <th>
                <label for="leerdoelen">Wijzig leerdoel</label>
            </th>
            <th>ignore</th>
        </tr>
        </thead>
        <tbody>
        {% for row in rows %}
        <tr class="active-row">
            {% for field in row %}
            <td>{{ field }}</td>
            {% endfor %}

        <td>
        <!-- Code inspired by https://www.youtube.com/watch?v=v3CSQkPJtAc&ab_channel=PythonSimplified -->
            <div>
                <div>
                    <form action="/leerdoelen" method="post">
                        <select name="update_leerdoel">
                            <option value="default">
                                - Kies leerdoel -
                            </option>
                            {% for leerdoel in leerdoel_row %}
                                <option value="{{ leerdoel[0] }}">
                                leerdoel[0]
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>

        </td>

        <td>
            <button class="button-tabel">Ignore</button>
        </td>
        </tr>

        {% endfor %}
        </tbody>

    </table>
</div>
</main>



<script>
/* Script extracted from https://www.w3schools.com/howto/howto_js_popup_form.asp */
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

/* Close the dropdown menu if the user clicks outside of it */
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>


</body>
</html>
