<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Database displayer</title>
    <meta name="description" content="Simple database display"/>
    <meta name="author" content="Rotterdam Academy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/basic.css" type="text/css">
    <link rel="stylesheet" href="/static/edit-button.css" type="text/css">
</head>
<body>
{% include "/Navbar.html" %}


<main>



    <p>Alle rijen in de tabel <b>vragen</b> met ongeldige leerdoelen:</p>

<div class="container">
    <table>
        <thead>
        <tr>
            {% for column in columns %}
            <th>{{ column }}</th>
            {% endfor %}
            <th>edit</th>
            <th>ignore</th>
        </tr>
        </thead>
        <tbody>
        {% for row in rows %}
        <tr class="active-row">
            {% for field in row %}
            <td>{{ field }}</td>
            {% endfor %}
        <td><button class="button-tabel" onClick="openForm()">Edit</button></td>
        {% include "/edit-button-form.html" %}
        <td><button class="button-tabel">Ignore</button></td>
        </tr>

        {% endfor %}
        </tbody>

    </table>
</div>
</main>






</body>

<script>
    function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>
</html>
