<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Database displayer</title>
    <meta name="description" content="Simple database display"/>
    <meta name="author" content="Rotterdam Academy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/basic.css" type="text/css">
</head>
<body>
{% include "/navbar.html" %}


<main>

    <p>Alle rijen in de tabel <b>vragen</b> met ongeldige auteurs.
    <br/>
    Klik op een auteur om het aan te passen.</p>

 <div class="container">
    <table>
        <thead>
        <tr>
            {% for column in columns %}
            <th>{{ column }}</th>
            {% endfor %}
            <th>uitzondering</th>
        </tr>
        </thead>
        <tbody>
        {% for row in rows %}
        <tr class="active-row">
            {% for field in row %}
                {% if loop.index == 4 %}
                    <td><a href="/auteurs/edit/{{ row[0] }}">{{ field }}</a></td>
                {% else %}
                    <td>{{ field }}</td>
                {% endif %}
            {% endfor %}
         <td>
            <button class="button-tabel">Ignore</button>
        </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
</main>
</body>
</html>
