<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="image">
    <br>
    <img src="/static/test-correct-full.png" height='64' width='292' alt="Test-Correct">
</div>
    <div class="center">
      <h1>Login</h1><br>
<form action="/form_login" method="post">
  <h2></h2>Username:<br>
  <input class="input_select" type="text" name='username'><br><br>
  Password:<br>
  <input class="input_select" type="password"  name='password' >
<input type="submit" value="Login">
</form>
    </div>
</body>
</html>