<nav>
    <ul>
        <li><img src="/static/test-correct.png"></li>
        <li><a href="/home">Home</a></li>
        <li>
            <a>Ongeldige waarden</a>
            <ul class = "dropdown">
                <li><a href="/leerdoelen">Ongeldige leerdoelen</a></li>
                <li><a href="/auteurs">Ongeldige auteurs</a></li>
                <li><a href="/auteur_text">Ongeldige medewerkers</a></li>
            </ul>
        </li>
        <li>
            <a>Vraagitems met:</a>
            <ul class = "dropdown">
                <li><a href="/vragen_null">Lege waarden</a></li>
                <li><a href="/allHTML_error">HTML-fouten</a></li>
            </ul>
        </li>
        <li>
            <a>Database</a>
            <ul class = "dropdown">
                {% for table in table_list %}
                <li><a href="/table_details/{{ table }}"> {{ table |capitalize }} </a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</nav>
