<nav>
    <ul>
        <li><a href="/tables">Home</a></li>
        <li>
            <a href="">Patronen </a>
            <ul class = "dropdown">
                <li><a href="/leerdoelen">Leerdoelen</a></li>
                <li><a href="/auteurs">Auteurs</a></li>
            </ul>
        </li>
        <li>
            <a href="">Data Kwaliteit </a>
            <ul class = "dropdown">
                <li><a href="/vragen">Vragen</a></li>
            </ul>
        </li>
        <li>
            <a href="">Tabellen </a>
            <ul class = "dropdown">
                {% for table in table_list %}
                <li><a href="/table_details/{{ table }}"> {{ table }} </a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</nav>
