<nav>
    <ul>
        <li><a href="/home">Home</a></li>
        <li>
            <a href="/leerdoelen">Patronen </a>
            <ul class = "dropdown">
                <li><a href="/leerdoelen">Leerdoelen</a></li>
                <li><a href="/auteurs">Auteurs</a></li>
            </ul>
        </li>
        <li>
            <a href="/vragen_null">Data Kwaliteit </a>
            <ul class = "dropdown">
                <li><a href="/vragen_null">Vragen (Empty errors)</a></li>
                <li><a href="/nbsp_error">HTML_errors</a></li>
                <li><a href="/allHTML_error">ALLHTML_errors</a></li>
            </ul>
        </li>
        <li>
            <a href="/table_details/auteurs">Tabellen </a>
            <ul class = "dropdown">
                {% for table in table_list %}
                <li><a href="/table_details/{{ table }}"> {{ table }} </a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</nav>
