<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Database displayer</title>
    <meta name="description" content="Simple database display"/>
    <meta name="author" content="Rotterdam Academy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/basic.css" type="text/css">

</head>
<body>
{% include "Navbar.html" %}

<main>
{# Verder onderzoeken hoe je eventueel vraagitem info kan weergeven met Jinja #}
    <p>
        Update hier het leerdoel.
    </p>

            <!-- Code inspired by https://www.youtube.com/watch?v=v3CSQkPJtAc&ab_channel=PythonSimplified -->
            <div>
                <div>
{#                /leerdoelen/edit, overeenkomen met route /leerdoelen/edit/nog iets#}
                    <form action="/leerdoelen" method="post">
                        <label for="leerdoelen"></label>
                        <select name="update_leerdoel" id="leerdoelen">
                            <option>
                                - Kies leerdoel -
                            </option>
                            {% for l in dropdown_leerdoelen %}
                                <option value="{{ l[0] }}">
                                    {{  l[1] }}
                                </option>
                            {% endfor %}
                        </select>
                    <br/> <br/>
                    <input type="submit" value="Opslaan" onclick="return confirm('Leerdoel aanpassen?');">
                    </form>
{#                Annuleerknop laten terugkeren naar vorige route/foute leerdoelen tabel #}
                    <button>Annuleren</button>
                </div>
            </div>

</main>
